body {
	background: #F7F7F8;
	font-family: Arial,Verdana;
        margin:0pt;
}
#menu a {
	font-size: 13px;
	font-weight:bold;
	color: #F7F7F8;
	padding: 0;
}
#menu a:hover {
	font-size: 13px;
	font-weight:bold;
	color: #F8D000;
	padding: 0;
}
#text_int {
	font-size: 13px;
	color: #F7F7F8;
	padding: 0;
}
#text_int h1 {
	font-size: 16px;
	color: #F8D000;
	padding: 0;
}
#title_int {
	font-size: 14px;
	font-weight:bold;
	color: #F8D000;
	padding: 0;
}
#text_int a {
	text-decoration: none;
	color: #F7F7F8;
}
#text_int a:hover {
	text-decoration: none;
	color: #F8D000;
}
#text_ext {
	font-size: 13px;
	color: #666666;
	padding: 0;
}
.imgface {
position: relative;
Left: 425px;
Top: 100px;
}
.imgtweet {
position: relative;
Left: 425px;
Top: 100px;
}
.banner{
position:relative;
left:0px;
margin-top:0px;
margin-bottom:10px;
}
#slider { position: relative; width: 988px; height: 300px; top: 10px; }
.slider-content { position: absolute; width: 988px; height: 300px; top: -10px; left: -5px; overflow: hidden; z-index: 1; }
.slider-content ul { list-style-type: none; position: relative;  overflow: hidden; }
.slider-content ul li, #slider .jcarousel-clip { width: 988px; height: 300px; position: relative; }
#slider #slider-prev, #slider #slider-next { position: absolute; top: 152px; width: 45px; height: 79px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; z-index: 2; }
#slider #slider-prev { left: -7px; background: url(image/slider1-prev.png) no-repeat 0 0; }
#slider #slider-next { right: -6px; background: url(image/slider1-next.png) no-repeat 0 0; }
.slider-pagination { position: absolute; bottom: 10px; right: 15px; z-index: 2; }
.slider-pagination ul { list-style-type: none; }
.slider-pagination ul li { float: left; display: inline;  width: 22px; height: 22px; margin-right: 5px; }
.slider-pagination ul li a { width: 22px; height: 22px; display: block; background: url(image/slider1-pagination.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px;  }
.slider-pagination ul li a:hover ,
.slider-pagination ul li a.active { background: url(image/slider1-pagination-hover.png) no-repeat 0 0; }
#slider.project-slider ,#slider.project-slider .slider-content ,#slider.project-slider .slider-content ul li, #slider.project-slider .jcarousel-clip { width: 617px; height: 328px;  }
#slider.project-slider { border: 3px solid #d9d9d9; margin: 13px 0 10px;  }
#slider.project-slider #slider-prev { top: 125px; left: -10px; background: url(images/project-slider-prev.png) no-repeat 0 0; }
#slider.project-slider #slider-next { top: 125px; right: -10px; background: url(images/project-slider-next.png) no-repeat 0 0; }

#fade-slider { width: 988px; height: 300px; position: relative;  z-index: 1; background-color: #000; margin-top: 5px; }
.fade_item_holder { width: 988px; height: 397px; position: relative;  z-index: 2; overflow: hidden; }
.fade_item_holder .fade_item { position: relative; width: 988px; height:300px; margin: 0 auto; display: none; z-index: 2; }
.fade_item_holder .fade_item_current { display: block; }
.fader_bottom { height: 62px; background: url(images/slider2-bottom-bg.gif) repeat-x 0 0; position: relative; margin-top: -2px; z-index: 5; }
.fade_item_thumbs { position: relative;  float: right; display: inline; margin-top: 11px; }
.fade_item_thumbs ul { list-style-type: none; }
.fade_item_thumbs ul li { float: left; display: inline;  width: 60px; height: 40px; border: 1px solid #a1a1a0; margin-right: 10px; }
.fade_item_thumbs ul li a img { display: block;  width: 58px; height: 38px; border: 1px solid #fff; cursor: pointer; opacity: 0.3; opacity: 0.3; -moz-opacity: 0.3;
filter:alpha(opacity=30); }
.fade_item_thumbs ul li a:hover img,
.fade_item_thumbs ul li a.current_thumb img { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }
.fade_pointer { position: absolute; top: 43px; left: 24px; width: 17px; height: 8px; display: block;  z-index: 15; background: url(images/fader-pointer.gif) no-repeat 0 0; }
.fade_items_text { float: left; display: inline;  width: 580px; padding: 23px 0 0 15px;  }
.fade_items_text ul { list-style-type: none; }
.fade_items_text ul li { display: none; }
.fade_items_text ul li.current_text { display: block; }

#flash-slider { width: 988px; height: 300px; margin-top: 5px; }

.tl,.tr,.bl,.br { position: absolute; width: 4px; height: 4px; display: block; z-index: 10; }
.tl { top: 0; left: 0;  background: url(imagens/tl.png) no-repeat 0 0;  }
.tr { top: 0; right: 0; background: url(imagens/tr.png) no-repeat 0 0;   }
.bl { bottom: 0; left: 0; background: url(imagens/bl.png) no-repeat 0 0;  font-size: 0; line-height: 0; text-indent: -4000px;  }
.br { bottom: 0; right: 0;  background: url(imagens/br.png) no-repeat 0 0;  font-size: 0; line-height: 0; text-indent: -4000px; }